<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744112401976-vcf4kkk42vnid2abj296c3l9hsi2dev1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744112401976-vcf4kkk42vnid2abj296c3l9hsi2dev1</string>
	<key>API_KEY</key>
	<string>AIzaSyAczUqVu5YIX3w72iJmg0yyuLoty8tHADI</string>
	<key>GCM_SENDER_ID</key>
	<string>744112401976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Khaled.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-9045b</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-9045b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744112401976:ios:32a83b231b8c8482</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-9045b.firebaseio.com</string>
</dict>
</plist>